@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
}

abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postal"]{
	font-style: italic;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:postal"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:postal"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:postal"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

/* card in chapter 1 */
#chapter-1 blockquote:first-of-type{
	display: inline-block;
}

#chapter-1 blockquote:first-of-type p{
	text-indent: 0;
	font-style: italic;
}

#chapter-1 blockquote:first-of-type b{
	display: block;
	text-align: center;
	font-style: normal;
}
